.review-single
  margin: 43px 0 0
  display: flex
  row-gap: 67px
  flex-direction: column
  max-width: 1200px
  position: relative

.review-single__block
  padding-top: 67px
  display: flex
  column-gap: 81px

.review-single__review-block
  display: flex
  flex-direction: column

.review-single__date
  margin: 0
  font-weight: 400
  font-size: 16px
  line-height: 120.5%

.review-single__text
  font-weight: 400
  font-size: 20px
  line-height: 110%

.review-single__user
  font-family: 'Arkhip'
  font-style: normal
  font-weight: 400
  font-size: 24px
  line-height: 100%
  margin: 14px 0 32px
  color: #FF3744
  max-width: 715px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.review-single__image-container
  width: 385px
  height: 450px
  flex-shrink: 0

.review-single__image-container
  cursor: pointer

.review-single__card-img
  width: 100%
  clip-path: url(#review-mask)
  width: 100%
  height: 100%
  object-fit: cover
