@import "../../styles/@global.sass"
@import "../../styles/@mixins.sass"
  
.review-single
  margin: 43px auto 0
  display: flex
  row-gap: 67px
  width: 100%
  position: relative

.review-single__block
  display: flex
  justify-content: space-between
  width: 100%
  padding: 67px 56px 0

.review-single__review-block
  display: flex
  flex-direction: column

.review-single__date
  margin: 0
  font-weight: 400
  font-size: 16px
  line-height: 120.5%

.review-single__text
  @include textRegular-20

.review-single__user
  @include heading-h3
  margin: 14px 0 32px
  color: #FF3744
  max-width: 715px
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis

.review-single__image-container
  width: 385px
  height: 450px
  flex-shrink: 0

.review-single__image-container
  cursor: pointer

.review-single__card-img
  width: 100%
  clip-path: url(#review-mask)
  width: 100%
  height: 100%
  object-fit: cover

@media screen and (max-width: 999px)
  .review-single__text
    @include textRegular-16
  .review-single__user
    

@media screen and (max-width: 500px)
  .review-single__text
    @include textRegular-14

  .review-single__block
      flex-direction: column

