@import "../../styles/@global.sass"
@import "../../styles/@mixins.sass"

.companies
  justify-content: space-between
  display: flex
  flex-direction: row
  max-width: 1020px
  flex-wrap: wrap

.companies__title
  @include heading-h1
  color: rgba(243, 66, 71, 1)
  text-align: center
  margin: 74px auto 0

.companies__cards
  padding-top: 74px
  display: flex
  flex-wrap: wrap
  max-width: 996px
  justify-content: space-between

.companies-card
  max-width: 420px
  overflow: hidden

.companies-card__img
  max-width: 383px

.companies-card__title
  padding: 40px 0 24px 0
  @include heading-h3
  color: rgba(243, 66, 71, 1)
  text-overflow: ellipsis

.companies-card__text
  padding-bottom: 88px
  @include textRegular-20


