@import "../../styles/@global.sass"
@import "../../styles/@mixins.sass"

.AllNews__content
  justify-content: space-between
  display: flex
  flex-direction: row
  max-width: 1020px
  flex-wrap: wrap
  padding-bottom: 79px
  min-width: 1020px

.AllNews-card
    max-width: 383px

.AllNews__title
  text-align: center
  @include heading-h1
  color: #FF3744


.allNews__head
  margin: 64px 0 0

  position: relative