@import '../../styles/@global.sass'
@import  '../../styles/@mixins.sass'
@import '../../styles/@fonts.sass'

.schedule__list
    justify-content: space-between
    display: flex
    flex-direction: row
    max-width: 1020px
    flex-wrap: wrap
    padding-bottom: 79px
    min-width: 1020px
