@import "../../styles/@global.sass"
@import "../../styles/@mixins.sass"

.goBackButton
    display: flex
    position: absolute

.goBackButton__button
    background-color: transparent
    border: none
    color: #FF3744
    position: relative
    left: 10px
    @include textBold-20

.goBackButton__button_type_img
    content: " "
    width: 12px
    height: 11px
    top: 5px
    position: relative
    transform: rotate(180deg)

.goBackButton__button:hover
    cursor: pointer
